<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Venda_2023.Properties.Settings.loja_unifunec_2023ConnectionString"
            connectionString="Data Source=TI_GALA\SQLEXPRESS;Initial Catalog=loja_unifunec_2023;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projeto_Venda_2023.Properties.Settings.loja_unifunec_2023ConnectionString1"
            connectionString="Data Source=DESKTOP-3DSDGO7;Initial Catalog=loja_unifunec_2023;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>